#about{
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    // background-color: pink;
    
    .about-content{
        width: 950px;
    min-height: 500px;
    margin: 0 auto;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
        .about-info{
            max-width: 50%;
            min-height: 500px;
            padding-left: 10px;
            // background-color: bisque;
            h6{
                font-size: 30px;
                color: white;
                font-family: openR;
                span{
                    font-size: 20px;
                    color: $site-darkpink;
                }
            }
            p{
                font-size: 18px;
                color: white;
                font-family: openL;
            }
        }
        .about-pic{
            width: 50%;
            height: 500px;
            // background-color: aqua;
            position: relative;
            .about-maincircle{
                position: absolute;
                top: 50px;
                left: 90px;
                width: 350px;
                height: 350px;
                border-radius: 200px;
                background-image: linear-gradient(
                    rgba($site-darkpink, 0.1),
                    rgba($site-darkpink, 0.1)
                  ), url(../images/me.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .about-pinkcircle{
                position: absolute;
                bottom: 70px;
                right: 30px;
                width: 350px;
                height: 350px;
                border-radius: 200px;
                border: solid $site-darkpink 2px;
            }
        }
    }
}
@media (max-width: 1000px) {
    #about{
        // background-color: red ;
        .about-content{
            flex-direction: column;
            margin: 0 auto;
            // background-color: lavender;
            width: 80%;
            .about-info{
                max-width: 500px;
                min-height: 300px;
                // background-color: aqua;
            }
            .about-pic{
                width: 420px;
                // background-color: red;
                .about-maincircle{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    }

    @media (max-width: 650px) {
        #about{
            // background-color: red ;
            .about-content{
                flex-direction: column;
                .about-info{
                    max-width: 500px;
                    min-height: 300px;
                    h1{
                        font-size: 24px;
                        span{
                            font-size: 20px;
                        }
                    }
                    p{
                        font-size: 18px;
                    }
                    // background-color: aqua;
                }
                .about-pic{
                    width: 320px;
                    height: 300px;
                    // background-color: red;
                    .about-maincircle{
                        width: 250px;
                        height: 250px;
                        top: 0;
                        left: 0;
                    }
                    .about-pinkcircle{
                        width: 250px;
                        height: 250px;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        }
    @media (max-width: 450px) {
        #about{
            .about-content{
                .about-info{
                    h6{
                        text-align: center;
                    }
                }
            }
        }
    }