footer{
    width: 100%;
    height: 70px;
    // background-color: red;
    p{
        margin: 0 auto;
        text-align: center;
        color: $site-darkpink;
        font-family: openL;
        font-size: 12px;
    }
}