nav {
    width: 100%;
    height: 60px;
    // background-color: $site-greypurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    position: fixed;
    z-index: 1;
    .logo{
        a{
            color: white;
            font-family: candara;
            text-decoration: none;
            transition: 0.3s; 
            font-size: 34px;
            .logopic{
                width: 62px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../images/mh2.png);

            }
            .logopic:hover{
                background-image: url(../images/mh.png);
            }
        }
    }
    .links{
        width: 440px;
        // background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: white;
            font-family: openL;
            font-size: 16px;
            text-decoration: none;
            transition: 0.3s;
            span{
                color: $site-darkpink;
                font-size: 12px;
            }
        }
        a:hover{
            color:$site-darkpink;
            cursor: pointer;
        }
    }

}


@media (max-width: 650px) {
    nav{
        // background-color: black;
        display: block;
        height: 100px;
        padding: 10px;
        padding-top: 20px;
        .logo{
            margin: 5px auto;
            width: 60px;
            height: 40px;
            justify-content: center;
            a{
                .logopic{
                    width: 40px;
                    height: 25px;
                }
            }
        }
        .links{
            max-width: 340px;
            // background-color: red;
            margin: 0 auto;
            text-align: center;
            a{
                font-size: 12px;
                span{
                    // display: none;
                }
            }
        }
    }
}
