#portfolio{
    width: 100%;
    min-height: 185vh;
    padding-top: 100px;
    // background-color: blue;
    
    .portfolio-content{
    max-width: 950px;
    min-height: 180vh;
    margin: 0 auto;
    // background-color: red;
    h6{
        font-size: 30px;
        color: white;
        font-family: openR;
        span{
            font-size: 20px;
            color: $site-darkpink;
        }
    }
    h4{
        font-size: 20px;
        color: $site-darkpink;
        font-family: openL;
    }
    
    .projects-container{
        width: 100%;
        min-height: 520px;
        // background-color: pink;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .project{
            width: 280px;
            height: 220px;
            margin: 5px;
            margin-bottom: 20px;
            display: inline-block;
            border: solid white 2px;
            border-radius: 10px;
            padding: 20px;
            transition: 0.3s;
            h1{
                color: white;
                font-family: openB;
                font-size: 20px;
                text-align: center;
            }
            h3{
                color: white;
                font-family: openB;
                font-size: 12px;
                text-align: center;
            }
            p{
                color: white;
                font-family: openL;
                font-size: 12px;
            }
        }
        .project:hover{
            cursor: pointer;
            background-color: white;
            h1,h3,p{
                color: $site-greypurple;
            }
            
        }
        .project2{
            width: 280px;
            height: 220px;
            margin-bottom: 20px;
            display: inline-block;
            // border: solid white 2px;
            border-radius: 10px;
            padding: 20px;
            transition: 0.3s;
            
        }
        .p1, .p2, .p3, .p4, .p5, .p6{
            width: 280px;
            height: 220px;
            margin-bottom: 20px;
            display: inline-block;
            border: solid white 2px;
            border-radius: 10px;
            padding: 20px;
            transition: 0.3s;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            h1{
                color: white;
                font-family: openB;
                font-size: 20px;
                text-align: center;
            }
            h3{
                color: white;
                font-family: openB;
                font-size: 12px;
                text-align: center;
            }
            p{
                color: white;
                font-family: openL;
                font-size: 12px;
            }
        }
        .p1:hover{
            background-image: url(../images/BRAIN_INFOGRAPHIC.png);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 400px;
            width: 330px;
            h1,h3,p{
                display: none;
            }
            
        }
        .p2:hover{
            background-image: url(../images/principlesOfDesignfinal.png);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 480px;
            width: 280px;
            h1,h3,p{
                display: none;
            }
            
        }
        .p3:hover{
            background-image: url(../images/infographic_draft2.png);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 400px;
            width: 330px;
            h1,h3,p{
                display: none;
            }
            
        }
        .p4:hover{
            background-image: url(../images/dangab.jpg);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 400px;
            width: 330px;
            h1,h3,p{
                display: none;
            }
            
        }
        .p5:hover{
            background-image: url(../images/characterproject_harrell.jpg);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 400px;
            width: 330px;
            h1,h3,p{
                display: none;
            }
            
        }
        .p6:hover{
            background-image: url(../images/workseverytime_mharrell.jpg);
            cursor: pointer;
             transition: all 0.3s ease-in-out;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.1);
            height: 400px;
            width: 330px;
            h1,h3,p{
                display: none;
            }
            
        }
    }
    }
}


@media (max-width: 1000px) {
    #portfolio{
        // background-color: lavender;
        width: 80%;
        min-height: 200vh;
        margin: 0 auto;
        .portfolio-content{
            h6{
                span{

                }
            }
            h4{
                text-align: center;
            }
            .projects-container{
                // background-color: gold;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                
                a{
                    .project{
                        h1{

                        }
                        h3{

                        }
                        p{

                        }
                    }
                }
                .p1,.p2,.p3,.p4,.p5,.p6{
                    // background-color: red;
                    margin: 5px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    #portfolio{
        .portfolio-content{
            h6{
                text-align: center;
            }
        }
    }
}
