.nav-socials{
    width: 60px;
    height: 240px;
    // background-color: white;
    position: fixed;
    bottom: 80px;
    left: 50px;
    .social{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;  
    }
    .social:hover{
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
        }
    }
}

@media (max-width: 650px) {
    .nav-socials{
        // background-color: red;
        left: 5px;
        bottom: 10px;
        height: 160px;
        .social{
            height: 30px;
            width: 30px;
            margin: 10px;
            // background-color: pink;
        }
    }
    }